<h2>Sign Up</h2>
<div class="col-lg-6">
  <div class="form-horizontal">
  <div class="well bs-component">
    <fieldset>
      <legend>Looking good is about to get a whole lot easier</legend>
        <div class="form-group">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="col-lg-4">
            <%= devise_error_messages! %>

            <%= f.label :name %><br>
            <%= f.text_field :name, required: true, autofocus: true  %><br>
            <%= f.label :city %><br>
            <%= f.text_field :city, required: true  %><br>
            <%= f.label :state %><br>
            <%= f.text_field :state, required: true  %><br>
            <%= f.label :email %><br />
            <%= f.email_field :email, required: true %>

            <div><%= f.label :password %><br />
              <%= f.password_field :password, required: true, autocomplete: "off" %></div>

            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, required: true, autocomplete: "off" %></div><br>

            <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
          <% end %>
          </div>
        </div>
        <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
