<% if @clothing_articles.any? %>
<div class="col-lg-6">
  <div class="form-horizontal">
    <div class="well bs-component">
      <fieldset>
      <legend></legend>
      <div class="form-group">
        <%= form_for([@user, @outfit]) do |f| %>
          <div class="col-lg-8"><%= f.label :date %><br>
            <%= f.text_field :date, placeholder: "#{DateTime.now.to_date}", required: true %><br><br>
            <script>
              $("#outfit_date").datepicker({ dateFormat: "yy-mm-dd" });
            </script>
            <%= f.label "What are you wearing?" %><br>
            <div class="checkbox-inline col-lg-8">
              <%= f.collection_check_boxes :clothing_article_ids, @clothing_articles, :id, :description %><br>
            </div>
              <% if @user.friends.length == 0 %>
              <div class="col-lg-12" style="font-size:12px">
                <p>Track who saw you - add friends <%= link_to 'here', new_user_friend_path(@user) %></p>
                </div>
              <% else %>
                <%= f.label "Who are you seeing?" %><br>
                <div class="checkbox-inline">
                  <%= f.collection_check_boxes :friend_ids, @friends, :id, :name %><br>
              <% end %>
              <%= f.submit "Submit", :class => "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% else %>
  <h3>
    <%= @user.name %>, you haven't added any clothes yet, go add some <%= link_to "here!", new_user_clothing_article_path(@user) %>
  </h3>
<% end %>
