<h1>Edit Outfit</h1>

<%= form_for(@outfit) do |f| %>
  <%= f.label :date %><br>
  <%= f.text_field :date %><br>
  <%= f.collection_check_boxes :clothing_article_ids, @clothing_articles, :id, :description %><br>
  <%= f.collection_check_boxes :friend_ids, @friends, :id, :name %><br>
  <%= f.submit %>
<% end %>
