<h1>Your Outfits</h1>

<% if @outfits.any? %>
  <% @outfits.each do |outfit| %>
      <h3>On <%= link_to outfit.last_worn_on, user_outfit_path(outfit.user_id, outfit.id) %>...</h3>
    <% if !outfit.friends.empty? %>
      <h4>Who Saw You: <%= outfit.friends.map(&:name).to_sentence %></h4>
    <% end %>
    <% if !outfit.clothing_articles.empty? %>
      <% outfit.clothing_articles.each do |clothing_article| %>
        <div class="col-md-4" align="center">
          <td><%= link_to image_tag(clothing_article.photo.url(:medium)), user_clothing_article_path(clothing_article.user_id, clothing_article.id)%><br>
            <%#= link_to clothing_article.description, user_clothing_article_path(clothing_article.user_id, clothing_article.id) %><br>
          <!-- Color: <%#= clothing_article.color %><br>
          Category: <%#= clothing_article.clothing_category.category %></p> -->
        </div>
        <% end %>
        <div class="clearfix"></div>
      <% end %>
    <br>
  <% end %>
<% else %>
  <h3>
    <%= @user.name %>, you haven't added any outfits yet, go add some <%= link_to "here!", new_user_outfit_path(@user) %>
  </h3>
<% end %>