<h1>Your Outfits</h1>

<div>
  <% @outfits.each do |outfit| %>
    <div>
      Date: <%= outfit.date %><br>
    </div>
    <% outfit.clothing_articles.each do |clothing_article| %>
      <div>
        Category: <%= clothing_article.clothing_category.category %>
      </div><br>
      <div>
        Description: <%= clothing_article.description %>
      </div>
      <div>
        Color: <%= clothing_article.color %>
      </div>
      <% end %><hr>
    <div>
      <% outfit.friends.each do |friend| %>
        Friends: <%= friend.name %><br>
      <% end %>
    </div>
  <% end %>
</div>
