<h1>Your Outfits</h1>

<% @outfits.each do |outfit| %>
  <div>
    <%= link_to outfit.date, outfit_path(outfit) %><br>
    <% if !outfit.friends.empty? %>
      Friends: <%= outfit.friends.map(&:name).join(', ') %>
    <% end %>
    <% if !outfit.clothing_articles.empty? %>
      <ol>
        <% outfit.clothing_articles.each do |clothing_article| %>
          <li><%= clothing_article.description %>
            <ul>
              <li>Category: <%= clothing_article.clothing_category.category %></li>
              <li>Color: <%= clothing_article.color %></li>
            </ul>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <br>
<% end %>
