<h1><%= @outfit.date %></h1>
  <h4>Who Saw You:
    <% if @outfit.friends.empty? %>
      No One
    <% else %>
      <%= @outfit.friends.map(&:name).to_sentence %>
    <% end %>
  </h4>
<% if !@outfit.clothing_articles.empty? %>
  <ol>
    <% @outfit.clothing_articles.each do |clothing_article| %>
      <li><%= clothing_article.description %>
        <ul>
          <li>Category: <%= clothing_article.clothing_category.category %></li>
          <li>Color: <%= clothing_article.color %></li>
          <li>Photo: <%= image_tag clothing_article.photo.url %></li>
        </ul>
      </li>
    <% end %>
  </ol>
<% end %>

<%= link_to 'Edit', edit_outfit_path(@outfit)  %>
<%= link_to 'Delete', @outfit, :method => :delete  %>
