<h1>
  <%= @user.name %>
  <%= image_tag @user.gravatar_url %>
</h1>

<div class="col-md-4">
  <h3><%= @user.city %>, <%= @user.state %></h3>
  <h4>Today's weather:</h4>
  <%= @current_weather[:summary] %> |
  Temperature: <%= @current_weather[:temp] %> |
  Hourly Precipitation: <%= @current_weather[:hourly_precip] %>" |
  Daily Precipitation: <%= @current_weather[:daily_precip] %>"
</div>

<div class="bar_chart col-md-4"></div>
<h3><%= link_to "#{@user.name}'s outfits", user_outfits_path(@user) %></h3>

<div class="clearfix"></div>

<h2>Top Outfits</h2>

<% @user.top_outfits.each do |uniq_outfit| %>
  You wore your <%= uniq_outfit[:outfit].collect(&:description).to_sentence %> together <%= uniq_outfit[:count] %> 
  <% if uniq_outfit[:count] == 1 %>
    time.
  <% else %>
    times.
  <% end %>
  <br>
<% end %>

<h3>Most Worn Clothes: </h3>
  <% @user.top_ten_cas.each do |ca| %>
      <div class="col-md-4" align="center">
          <td><%= image_tag ca.photo.url %><br>
          You wore your <%= link_to ca.description, user_clothing_article_path(ca.user_id, ca.id) %> <%= ca.times_worn %>
          <% if ca.times_worn == 1 %>
            time.
          <% else %>
            times.
          <% end %>
          <br><br>
        <!-- Last Worn: <%#= ca.last_worn_on %></td> -->
      </div>
  <% end %><br>
<br>




<br>
<p class="clearfix">
<p align="center">
  <%= link_to "Edit Account", edit_user_path(@user) %> |
  <%= link_to "Delete Account", @user, method: :delete %>
</p>
</p>