<h1><%= @user.name %></h1>
<h3><%= @user.city %>, <%= @user.state %></h3>
<h3><%= link_to "#{@user.name}'s outfits", user_outfits_path(@user) %></h3>

<div class="bar_chart"></div>

<h2>Top Outfits</h2>

<% @user.top_outfits.each do |uniq_outfit| %>
  You wore your <%= uniq_outfit[:outfit].collect(&:description).to_sentence %> together <%= uniq_outfit[:count] %> 
  <% if uniq_outfit[:count] == 1 %>
    time.
  <% else %>
    times.
  <% end %>
  <br>
<% end %>

<h3>Most Worn Clothes: </h3>
  <% @user.top_ten_cas.each_with_index do |ca, i| %>
      <table border="0px" >
        <tr align="center">
          <td style="font-size:35px"><%= "#{i+1}. " %></td>
          <td><%= image_tag ca.photo.url %><br>
          <%= link_to ca.description, user_clothing_article_path(ca.user_id, ca.id) %><br>
        Times Worn: <%= ca.times_worn %><br>
        Last Worn: <%= ca.last_worn_on %></td>
      </tr>
  <% end %><br>
    </table>
<br>




<br>
<p align="center">
<%= link_to "Edit Account", edit_user_path(@user) %> |
<%= link_to "Delete Account", @user, method: :delete %>
</p>