<h1>
  <%= image_tag @user.gravatar_url %>
  <%= @user.name %>
</h1>

<div class="clearfix"></div>
<% if @user.clothing_articles.any? %>
<h3><%= link_to "Your outfits", user_outfits_path(@user) %></h3>

  <h3>Try Wearing This:
  <%= @user.random_recommendation.to_sentence %></h3>
<% else %>
    <h3>
      <%= @user.name %>, you haven't added any clothes yet, go add some <%= link_to "here!", new_user_clothing_article_path(@user) %>
    </h3>
<% end %>

<div class="col-md-4">
  <% if @current_weather.nil? %>
    <h4><%= link_to "Add your city to your profile", edit_user_path(@user) %> to see today's weather</h4>
  <% else %>
    <h3><%= @user.city %>, <%= @user.state %></h3>
    <h4>Today's weather:</h4>
    <%= image_tag @current_weather[:icon_url] %><br>
    <%= @current_weather[:summary] %><br>
    Temperature: <%= @current_weather[:temp] %><br>
    Hourly Precipitation: <%= @current_weather[:hourly_precip] %>"<br>
    Daily Precipitation: <%= @current_weather[:daily_precip] %>"
  <% end %>
</div>

<div class="col-md-6">
  <h3>Favorite Colors</h3>
  <% if @user.clothing_articles.any? %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= column_chart @user.top_five_colors %>
  <% else %>
    <%= image_tag ('/sample_chart.png'), :class => "chart-sample" %>
  <% end %>
</div>

<div class="clearfix"></div>

<% if @user.clothing_articles.any? %>
  <h2>Favorite Outfits</h2>
  <% @user.top_outfits.each do |uniq_outfit| %>
    You wore your <%= uniq_outfit[0].collect(&:description).to_sentence %> together <%= uniq_outfit[1] %> 
    <% if uniq_outfit[1] == 1 %>
      time.
    <% else %>
      times.
    <% end %>
    <br>
  <% end %>

  <h3>Most Worn Clothes: </h3>
    <% @user.top_ten_cas.each do |ca| %>
      <div class="col-md-4" align="center">
        <td><%= link_to image_tag(ca.photo.url(:medium)), user_clothing_article_path(ca.user_id, ca.id) %><br>
          You wore your <%= link_to ca.description, user_clothing_article_path(ca.user_id, ca.id) %> <%= ca.times_worn %>
        <% if ca.times_worn == 1 %>
          time.
        <% else %>
          times.
        <% end %>
        <br><br>
        <!-- Last Worn: <%#= ca.last_worn_on %></td> -->
      </div>
    <% end %><br>
  <br>
<% end %>




<br>
<p class="clearfix">
<p align="center">
  <%= link_to "Edit Account", edit_user_path(@user) %> |
  <%= link_to "Delete Account", @user, method: :delete %>
</p>
</p>