<h2>Forgot your password?</h2>
<div class="col-lg-6">
  <div class="form-horizontal">
  <div class="well bs-component">
    <fieldset>
      <legend></legend>
        <div class="form-group">
          <%= devise_error_messages! %>
          <div class="col-lg-2">
          <br>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div><br>
            <div>
              <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
            </div>
          </div>
          <% end %>
        </div>
          <%= render "devise/shared/links" %>
  </div>
  </div>
</div>