<div class="col-lg-6">
  <div class="form-horizontal">
  <div class="well bs-component">
    <fieldset>
      <legend></legend>
        <div class="form-group">
          <%= form_for([@user, @clothing_article], :html => { :multipart => true } ) do |f| %>
           <div class="col-lg-2"><%= f.label :description %> <br>
            <%= f.text_field :description, placeholder: "button-down shirt", required: true  %><br>
            <%= f.label :color %><br>
            <%= f.text_field :color, placeholder: "black", required: true  %><p>
            <%= f.label :clothing_category %><br>
            <%= collection_select(:clothing_article, :clothing_category_id, @clothing_categories, :id, :category) %><br></p>
            <%= f.label "Upload a photo!" %><br>
            <%= f.file_field :photo %><br>
            <%= f.submit "Submit", :class => "btn btn-primary" %>
          </div>
          <% end %>
        </div>
  </div>
  </div>
</div>
