<h1>Your Clothes</h1>

<ol>
  <% @clothing_articles.each do |clothing_article| %>
    <li>
      <%= link_to clothing_article.description, clothing_article_path(clothing_article) %>
      <ul>
        <li>Color: <%= clothing_article.color %></li>
        <li>Category: <%= clothing_article.clothing_category.category %></li>
        <li>Photo: <%= image_tag clothing_article.photo.url %></li>
        <li>Last Worn On: <%= clothing_article.last_worn_on %></li>
      </ul>
    </li>
  <% end %>
</ol>