<h1>Add Clothing</h1>

<%= form_for(@clothing_article, :html => { :multipart => true } ) do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :color %>
  <%= f.text_area :color %>
  <%= collection_select(:clothing_article, :clothing_category_id, @clothing_categories, :id, :category) %>
  <%= f.file_field :photo %>
  <%= f.submit %>

<% end %>

