<h1><%= @clothing_article.description %></h1>

<h3>Color: <%= @clothing_article.color %></h3>
<h3>Category: <%= @clothing_article.clothing_category.category %></h3>

<h3>Photo: <%= image_tag @clothing_article.photo.url %></h3>

<%= link_to "Edit", edit_clothing_article_path %><br>
<%= link_to "Delete", @clothing_article, method: :delete %>